a{
  color: black !important;
}

.mycard{
  margin: 30px;
}
.auth-card{
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin:10px auto;
}
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid blue !important;
    box-shadow: 0 1px 0 0 blue !important;
  }
  .gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .item{
    width:30%;
  }

  .home-card{
    max-width: 500px;
    height: max-content;
    margin: 26px auto;
  }

  .material-icons:hover{
    cursor: pointer;
  }

  .collection-item{
    width: 100%;
  }